/**********************************
BACKGROUNDS
***********************************/

#backgroundImage {
	width: 100%;
	height: 300%;
	background-blend-mode: overlay;
	background-size: 100% auto;
	background-position: 50% 0%;
	background-color: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;

	&.homeBackground {
		background-image: url("../images/winterstorm.jpg");
		background-position: 50% 50%;
	}

	&.architraveBackground {
		background-image: url("../images/architrave/Portfolio    New Homes  Hoggs Hollow Tradition.jpg");
	}

	&.cnibBackground {
		background-image: url("../images/cnib/FinalMockup.jpg");
	}

	&.codeassistBackground {
		background-image: url("../images/codeassist/Screenshot 3.jpg");
	}

	&.gradshowBackground {
		background-image: url("../images/gradshow/2017-04-18_10-53-35.jpg");
	}

	&.iotBackground {
		background-image: url("../images/iot/flora_watch_0.jpg");
	}

	&.leslievilleBackground {
		background-image: url("../images/leslieville/2017-04-18_10-53-37.jpg");
	}

	&.restaurantBackground {
		background-image: url("../images/restaurant/m/1.jpg");
	}
}

@mixin angled($direction, $sides, $backgroundColour) {
	position: relative;
	// z-index: 1;

	@if $sides == 'topOnly' {
		@if $direction == 'rightIn' {
			&:before {
				@include angledCommon($backgroundColour);
				@include angledTopDown();
			}
		} @else {
			// LAST SECTION
			&:before {
				@include angledCommon($backgroundColour);
				@include angledTopUp();
				transform-origin: 0 0;
			}
			&:after {
				@include angledCommon($backgroundColour);
				height: 100%;
				top: auto;
				bottom: 0;
			}
		}
	} @elseif $sides == 'bottomOnly' {
		@if $direction == 'rightIn' {
			&:after {
				@include angledCommon($backgroundColour);
				@include angledBottomUp();
			}
		} @else {
			// FIRST SECTION
			&:after {
				@include angledCommon($backgroundColour);
				@include angledBottomDown();
			}
		}
	} @else {
		@if $direction == 'rightIn' {
			// 2nd and 4th SECTION
			&:before {
				@include angledCommon($backgroundColour);
				@include angledTopDown();
			}
			&:after {
				@include angledCommon($backgroundColour);
				@include angledBottomUp();
			}
		} @else {
			// 3rd SECTION
			&:before {
				@include angledCommon($backgroundColour);
				@include angledTopUp();
				transform-origin: 0 0;
			}
			&:after {
				@include angledCommon($backgroundColour);
				@include angledBottomDown();
				transform-origin: 0 0;
			}
		}
	}
}

@mixin angledCommon($backgroundColour) {
	background: inherit;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	-webkit-backface-visibility: hidden; // for Chrome Windows
	width: 100%;
	height: 100%;

	@if $backgroundColour == 'darkBackground' {
		background: $primaryDarkColour;
	} @elseif $backgroundColour == 'mediumBackground' {
		background: $secondaryLightColour;
	} @elseif $backgroundColour == 'lightBackground' {
		background: $primaryLightColour;
	} @elseif $backgroundColour == 'darkBackgroundPicture' {
		background: $primaryDarkColourWithOpacity;
	} @else {
		background: auto;
		height: 150%;
	}
}

@mixin angledTopDown() {
	top: 0;
	transform: skewY(5deg);
	transform-origin: 100% 0;
}

@mixin angledTopUp() {
	top: 0;
	transform: skewY(-5deg);
	transform-origin: 100% 0;
}

@mixin angledBottomUp() {
	top: 0;
	transform: skewY(-5deg);
	transform-origin: 100% 0;
}

@mixin angledBottomDown() {
	top: 0;
	transform: skewY(5deg);
	transform-origin: 100% 0;
}

.topSection {
	@include angled(rightOut, bottomOnly, darkBackgroundPicture);
	color: $lightTextColour;
	top: 0px;
}

.section1 {
	@include angled(rightIn, bottomAndTop, lightBackground);
	color: $darkTextColour;
}

.section2 {
	@include angled(rightOut, bottomAndTop, mediumBackground);
	color: $darkTextColour;
}

.section3 {
	@include angled(rightIn, bottomAndTop, lightBackground);
	color: $darkTextColour;
}

.section4 {
	@include angled(rightOut, bottomAndTop, mediumBackground);
	color: $darkTextColour;
}

.bottomSection {
	@include angled(rightOut, topOnly, darkBackground);
	color: $lightTextColour;
	margin-bottom: 0;
	padding-bottom: 0;
}

.bottomSection2 {
	@include angled(rightIn, topOnly, darkBackground);
	color: $lightTextColour;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: $primaryDarkColour;
}
