/**********************************
IMAGE GALLERY
***********************************/

.imageGallery {
  padding: .5vw;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;

  &.process {
    .image {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      margin: .5vw;
      width: 300px;
    	height: 300px;
      background-size: cover;
    }

    &.architrave {
      .image1 {
        background-image: url("../images/architrave/old/home.jpg");
      }
    }

    &.cnib {
      .image1 {
        background-image: url("../images/cnib/Design 1.2.jpg");
      }
      .image2 {
        background-image: url("../images/cnib/Design 2.2.jpg");
      }
      .image3 {
        background-image: url("../images/cnib/Design 3.3.jpg");
      }
      .image4 {
        background-image: url("../images/cnib/FinalMockup.jpg");
      }
    }

    &.codeassist {
      .image1 {
        background-image: url("../images/codeassist/Group5_PitchDocument.jpg");
      }
      .image2 {
        background-image: url("../images/codeassist/Feature Map ver.2.jpg");
      }
      .image3 {
        background-image: url("../images/codeassist/mockups_Page_01.jpg");
      }
      .image4 {
        background-image: url("../images/codeassist/mockups_Page_08.jpg");
      }
    }

    &.gradshow {
      .image1 {
        background-image: url("../images/gradshow/2017-04-18_12-56-33.jpg");
      }
      .image2 {
        background-image: url("../images/gradshow/2017-04-18_12-57-25.jpg");
      }
      .image3 {
        background-image: url("../images/gradshow/@home.jpg");
      }
      .image4 {
        background-image: url("../images/gradshow/@landing-page.jpg");
      }
      .image5 {
        background-image: url("../images/gradshow/@squad--member.jpg");
      }
      .image6 {
        background-image: url("../images/gradshow/@squad.jpg");
      }
    }

    &.iot {
      .image1 {
        background-image: url("../images/iot/20170331_141941_33603052692_o.jpg");
      }
      .image2 {
        background-image: url("../images/iot/20170331_141952_33603055582_o.jpg");
      }
      .image3 {
        background-image: url("../images/iot/20170417_130227_34099677695_o.jpg");
      }
    }

    &.leslieville {
      .image1 {
        // background-image: url("../images/architraveDesign/old/home.jpg");
      }
    }

    &.restaurant {
      .image1 {
        background-image: url("../images/restaurant/sketches/IMG_0001.jpg");
      }
      .image2 {
        background-image: url("../images/restaurant/w/1.jpg");
      }
      .image3 {
        background-image: url("../images/restaurant/m/1.jpg.jpg");
      }
    }
  }

  &.result {
    .image {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      margin: .5vw;
      width: 300px;
    	height: 300px;
      background-size: cover;
    }

    &.architrave {
      .image1 {
        background-image: url("../images/architrave/Portfolio    New Homes  Hoggs Hollow Tradition.jpg");
      }

      .image2 {
        background-image: url("../images/architrave/Portfolio    Renovations   Etobicoke.jpg");
      }
    }

    &.cnib {
      .image1 {
        // background-image: url("../images/architraveDesign/old/home.jpg");
      }
    }

    &.codeassist {
      .image1 {
        background-image: url("../images/codeassist/Screenshot 3.jpg");
      }
    }

    &.gradshow {
      .image1 {
        background-image: url("../images/gradshow/2017-04-20_08-36-46.jpg");
      }
      .image2 {
        background-image: url("../images/gradshow/2017-04-20_08-36-46_01.jpg");
      }
      .image3 {
        background-image: url("../images/gradshow/2017-04-20_08-36-47.jpg");
      }
    }

    &.iot {
      .image1 {
        background-image: url("../images/iot/flora_watch_0.jpg");
      }
    }

    &.leslieville {
      .image1 {
        background-image: url("../images/leslieville/2017-04-18_10-53-37.jpg");
      }
      .image2 {
        background-image: url("../images/leslieville/2017-04-18_10-54-17.jpg");
      }
    }

    &.restaurant {
      .image1 {
        background-image: url("../images/restaurant/m/1.jpg");
      }
    }
  }

  &.hobbies {
    .image {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      margin: .5vw;
      width: 200px;
    	height: 200px;
      background-size: cover;
      background-position: 50% 50%;
    }

    .hobbies1 {
      background-image: url("../images/hobbies/20170108_104625_31813092890_o.jpg");
    }

    .hobbies2 {
      background-image: url("../images/hobbies/20161206_070537_30649960013_o.jpg");
    }

    .hobbies3 {
      background-image: url("../images/hobbies/20161225_181331_31067756833_o.jpg");
    }

    .hobbies4 {
      background-image: url("../images/hobbies/20170105_093247_31972773992_o.jpg");
    }

    .hobbies5 {
      background-image: url("../images/hobbies/20170105_093225_31972772862_o.jpg");
    }
  }



  .project {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin: .5vw;
    text-align: center;
  	position: relative;
  	cursor: pointer;
  	perspective: 500px;
    width: 300px;

    &:hover .details {
    	transform: translate(-50%, -50%) rotateY(0deg);
    	opacity: 1;
    }

    .image {
      width: 100%;
    	height: 300px;
      background-size: cover;
      background-position: 50% 0%;
    }

    &.project1 .image {
      background-image: url("../images/architraveThumbnail.jpg");
    }

    &.project2 .image {
      background-image: url("../images/codeAssistThumbnail.jpg");
    }

    &.project3 .image {
      background-image: url("../images/iotThumbnail.jpg");
    }

    &.project4 .image {
      background-image: url("../images/gradShowThumbnail.jpg");
    }

    &.project5 .image {
      background-image: url("../images/cnib/FinalMockup.jpg");
    }

    &.project6 .image {
      background-image: url("../images/leslievilleThumbnail.jpg");
    }

    &.project7 .image {
      background-image: url("../images/restaurant/m/1.jpg");
    }



    .details {
    	width: 60%;
    	height: 80%;
    	padding: 5% 8%;
    	position: absolute;
    	content: "";
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%) rotateY(90deg);
    	transform-origin: 50%;
    	background: rgba(255,255,255,0.9);
    	opacity: 0;
    	transition: all 0.4s ease-in;
      color: $primaryDarkColour;

      h3 {
        padding-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
}
