$primaryDarkColour: #594199;
$primaryDarkColourWithOpacity: rgba(89, 65, 153, 0.7);
$primaryLightColour: #FFFFFF;
$secondaryLightColour: #EEE5F2;
$darkTextColour: #000000;
$lightTextColour: #FFFFFF;

@import "fonts";
@import "backgroundAngles";
@import "backgroundImages";
@import "heading";
@import "footer";
@import "imageGallery";
@import "home";
@import "projects";


/**********************************
GENERAL
***********************************/

body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3em;
}

h1,
h2 {
	font-family: 'Big John', sans-serif;
}

h3,
h4 {
	font-family: 'Slim Joe', sans-serif;
}

h3 {
	font-size: 1.3em;
}

#shapes {
	width: 100%;
	height: 100%;
	position: relative;
}

.shape {
	position: absolute;
	z-index: 0;
}



/**********************************
CONTENT
***********************************/

#wrapper {
	text-align: center;
	overflow: hidden;
	margin: 0;
	width: 100%;

	.content {
		width: 70%;
		margin: 40px auto;
		z-index: 1;

		.right {
			width: 48%;
			display: inline-block;
			vertical-align: top;
		}

		.left {
			width: 48%;
			display: inline-block;
			vertical-align: top;
		}

		p {
			text-align: left;
		}

		.button {
			margin: 50px auto;

			&.icon {
				margin: 20px auto 50px;
			}

			a {
				padding: 10px 30px;
				cursor: pointer;
			}

			&.icon a {
				padding: 50px 30px;
				border: 0;
			}

			&.icon a:hover {
				border: 0;
			}

			.fa {
				font-size: 8em;
			}
		}

		.responsibility {
			font-family: 'Lato', sans-serif;
			text-align: center;
		}
	}
}

.mainSection {
	padding: 40px 0 150px 0;
	min-height: 200px;

	&.bottomSection,
	&.bottomSection2 {
		padding: 40px 0 0 0;
		z-index: -1;
	}
}




/**********************************
CLEARFIX
***********************************/

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
