$primaryDarkColour: #594199;
$primaryDarkColourWithOpacity: rgba(89, 65, 153, 0.7);
$primaryLightColour: #FFFFFF;
$secondaryLightColour: #EEE5F2;
$darkTextColour: #000000;
$lightTextColour: #FFFFFF;

@import "fonts";
@import "backgrounds";
@import "heading";
@import "footer";
@import "imageGallery";
@import "home";
@import "projects";


/**********************************
GENERAL
***********************************/

body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

h1,
h2 {
	font-family: 'Big John', sans-serif;
}

h3,
h4 {
	font-family: 'Slim Joe', sans-serif;
}


/**********************************
CONTENT
***********************************/

#wrapper {
	text-align: center;
	overflow-x: hidden;
	margin: 0;
	width: 100%;

	.content {
		width: 70%;
		margin: 0 auto;

		.right {
			width: 48%;
			display: inline-block;
			vertical-align: top;
		}

		.left {
			width: 48%;
			display: inline-block;
			vertical-align: top;
		}

		p {
			text-align: left;
		}

		.button {
			margin: 50px auto;

			a {
				padding: 10px 30px;

				&.light {
					border: 3px solid $primaryLightColour;
					color: $primaryLightColour;
				}

				&.dark {
					border: 3px solid $primaryDarkColour;
					color: $primaryDarkColour;
				}
			}

			a:hover {
				&.light {
					border: 3px solid $secondaryLightColour;
					color: $secondaryLightColour;
				}

				&.dark {
					border: 3px solid $primaryDarkColourWithOpacity;
					color: $primaryDarkColourWithOpacity;
				}
			}

			&.icon a {
				padding: 50px 30px;
				border: 0;
			}

			&.icon a:hover {
				border: 0;
			}

			.fa {
				font-size: 8em;
			}
		}

		.responsibility {
			font-family: 'Lato', sans-serif;
			// font-weight: 300;
			// text-transform: uppercase;
			text-align: center;
		}
	}
}

.mainSection {
	padding: 40px 0 150px 0;
	min-height: 200px;

	&.bottomSection,
	&.bottomSection2 {
		padding: 40px 0 0 0;
	}
}




/**********************************
CLEARFIX
***********************************/

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
