@import 'layout';

* {
	/*border: 1px solid red;*/
	/*background: #32446E;*/
	/*color: white;*/
}

.hidden {
	display: none;
}
.shown {
	display: block;
}
.selected {
	/*color: red;*/
	font-weight: bold;
	-webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.51);
	box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.51);
	/*background-color: #CCEAED;*/
	border-color: #07535C !important;
}


/*
#welcomeMessage {
	width: 95%;
	margin: 0 auto;
	height: 40px;
}
#welcomeMessage h2 {
	font-size: 18px;
}
#logout {
	width: 95%;
	text-align: right;
}
#login {
	width: 95%;
	margin: 0 auto;
	height: 50px;
	padding-top: 10px;
}
#loginButton,
#signupButton,
#logoutButton {
	border: 3px solid #0F8F9D;
	background: #0F8F9D;
	color: white;
	border-radius: 20px;
	padding: 2px 10px;
	margin: 5px;
}
#loginButton:hover,
#signupButton:hover,
#logoutButton:hover {
	border: 3px solid #16B8CB;
	background: #16B8CB;
	color: #eee;
	border-radius: 20px;
	padding: 2px 10px;
	margin: 5px;
}
.journalsSection,
.entriesSection,
.editEntrySection {
	float: left;
}
.journalsSection {
	width: 15%;
}
.entriesSection {
	width: 30%;
}
.editEntrySection {
	width: 50%;
}
#sectionTitles {
	width: 95%;
	margin: 0 auto;
	border-bottom: 3px solid #07616A;
}
#sectionTitles h2 {
	width: 33%;
	float: left;
	border-bottom: 3px solid #07616A;
}
.editEntrySection .leftColumn {
	width: 49%;
	float: left;
}
.editEntrySection .rightColumn {
	width: 49%;
	float: right;
}
#myJournalsDiv button,
#myEntriesDiv button,
#newEntryDiv button {
	display: block;
	border: 3px solid #0F8F9D;
	background: transparent;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	min-width: 150px;
}
#myEntriesDiv button {
	width: 350px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
#myEntriesDiv button .entryStartDate {
	text-align: right;
	font-size: 10px;
}
#myJournalsDiv button:hover,
#myEntriesDiv button:hover,
#newEntryDiv button:hover {
	border: 3px solid #16B8CB;
	background: #eee;
}
#newEntryDiv input,
#newEntryDiv textarea {
	width: 100%;
	padding: 10px;
	margin: 2px 0 15px 0;
}
#newEntryDiv textarea {
	min-height: 350px;
}
#newJournalButton button,
#newEntryButton button,
#entryDataButton button {
	display: block;
	border: 3px solid #0F8F9D;
	background: #0F8F9D;
	color: white;
	border-radius: 20px;
	padding: 5px;
	margin: 20px 5px;
	min-width: 150px;
}
#newJournalButton button:hover,
#newEntryButton button:hover,
#entryDataButton button:hover {
	border: 3px solid #16B8CB;
	background: #16B8CB;
	color: #eee;
}
*/


/********************
CLEARFIX
********************/

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/